*{
    margin: 0;
    padding: 0;
}

nav .nav-link{
    border: 1px solid #000;
}

input{
    outline: none;
}

.btn{
    padding: 10px 30px;
}

.border-box{
    border-right: 1px solid #c1c1c1;
}

.left-flag{
    width: 50%;
    top: 0;
    bottom: 0;
    /* height: 50px; */
    padding: 20px;
    margin-bottom: 5px;
    background-color:dodgerblue;
    color: #fff;
}

/* pie chart */

